
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            line-height: 1.6;
        }

        header, section, footer {
            margin-bottom: 40px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .perfil {
            width: 200px;
        }

        ul {
            list-style-type: disc;
        }

        .redes img {
            width: 80px;
            margin-right: 25px;
        }

        .img-mediana {
        width: 300px;
        }